body {
font-family: sans-serif;
background-image: url('/home/feedhenry/Kasha/Pictures/nicebackground.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

h1{
padding: 12px;
background-color: black;
color: white;
border-radius: 10px;
}

ul.menu {
border-style: solid;
border-width: 1px;
padding: 10px;
border-radius: 10px;
background-color: black;
}
ul li {
list-style-type: none;
display: inline;
margin-right: 10px;
margin-left: 10px;
}

ul li a:{
color: white;
text-decoration: none;
}
ul li.selected {
color: yellow;
}
ul li a:hover {
color: #99DDFF;
text-decoration:underline;
}



